# Docker Compose 环境变量文件
# 本文件是配合 compose.yml 使用的环境变量示例文件

# 后端本地暴露端口
AIPASSAGE_BACKEND_LOCAL_PORT=
# 是否启用数据库迁移
AIPASSAGE_DB_MIGRATION_ENABLED=true
# 数据库迁移脚本位置
AIPASSAGE_DB_MIGRATION_LOCATIONS=classpath:/db/migration

# Pexels API Key
AIPASSAGE_PEXELS_API_KEY=
# Nano Banana API Key
AIPASSAGE_NANO_BANANA_API_KEY=
# Nano Banana 模型名称
AIPASSAGE_NANO_BANANA_MODEL=gemini-2.5-flash-image
# DashScope API Key
AIPASSAGE_DASHSCOPE_API_KEY=

# COS SecretId
AIPASSAGE_COS_SECRET_ID=
# COS SecretKey
AIPASSAGE_COS_SECRET_KEY=
# COS 地域
AIPASSAGE_COS_REGION=
# COS Bucket
AIPASSAGE_COS_BUCKET=

# 数据库本地端口
AIPASSAGE_DB_LOCAL_PORT=
# 数据库 root 密码
AIPASSAGE_DB_ROOT_PASSWORD=
# 数据库名称
AIPASSAGE_DB_DBNAME=
# 数据库用户名
AIPASSAGE_DB_USERNAME=
# 数据库用户密码
AIPASSAGE_DB_USER_PASSWORD=

# Redis 本地端口
AIPASSAGE_REDIS_LOCAL_PORT=
